.mail-tel {
    display: block;
    margin-top: 200px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-left: auto;
}

.contacts-header {
    @extend %list;
    // display: block;
    display: flex;
    flex-direction: column-reverse;


// &__item + &__item {
//     margin-left: 50px;
// }

.contacts-header__link {
    display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 22px 0;
    /* fill: $main-text-color; */
    padding: 16px 0;
    color: $main-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    // line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 
    $transition-duration 
    $transition-timing-function;

}

.contacts-header__icon {
    display: block;
    text-decoration: none;
    margin-right: 10px;
    fill: currentColor;

    
}

@media screen and (max-width:768px) {
    .contacts-header__icon {
        display: none;
    }
}

&__link:hover,
&__link:focus {
    color: $accent-color;
    /* fill: $accent-color; */

}
}