.features {
    background: $background-color;
}

.features-icons {
    display: flex;
}

.features-icons__icon:not(:last-child) {
    margin-right: 30px;
}

.features-icons__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: $third-background-color;
    border-radius: 4px;
}

.features-list {
    @extend %list;
    display: flex;
}

.features-list__item {
    width: 270px;
}

.features-list__item + .features-list__item {
    margin-left: 30px;
}

.features-list__title {
    margin-top: 30px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $title-text-color;
}

.features-list__text {
    margin-top: 10px;

    color: $main-text-color;
    font-weight: 400;
    line-height: 1.71;
}