.footer {
    // width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $fourth-background-color;
}

.footer__container {
    // background-color: $fourth-background-color;
//     // display: flex;
//     // align-items: baseline;
}