// main {
//     @media screen and (max-width: 767px) {
//     min-width: 480px;
//     }
    
// }

.portfolio-card__title {
    max-width: 322px;
    width: 100%;

    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 250px;
    }
}


.portfolio-card__product {
    margin-top: 4px;

    color: $main-text-color;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;

    @media screen and (min-width:768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: calc(-1 * $card-set-gap);
        margin-top: calc(-1 * $card-set-gap);
    }

    // margin-left: calc(-1 * $card-set-gap);
    // margin-top: calc(-1 * $card-set-gap);


.portfolio-card__img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-card__headlines {
    padding: 20px 24px;

    border-left: 1px solid $second-border-color;
    border-right: 1px solid $second-border-color;
    border-bottom: 1px solid $second-border-color;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
    }
}



.portfolio-list__item {
    // width: 370px;
    width: 100%;
    background-color: $background-color;
    // text-align: left;


    // flex-basis: calc(100% / 3 - $card-set-gap);
    // margin-top: $card-set-gap;
    // margin-left: $card-set-gap;

    transition: 
    box-shadow 
    $transition-duration 
    $transition-timing-function;

    // @media screen and (max-width: 767px) {
    //     width: 450px;
    // }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 354px;
            // padding-bottom: 24px;
            flex-basis: calc((100% - 4 * 15px) / 2);
            margin: 15px;
        }
    @media screen and (min-width: 1200px) {
        width: 370px;
        flex-basis: calc(100% / 3 - $card-set-gap);
        margin-top: $card-set-gap;
        margin-left: $card-set-gap;
    }    

}

.portfolio-list__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
   
}

&__item:hover,
&__item:focus {
    border: $second-border-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.portfolio-card {
    display: block;
    text-decoration: none;

    transition:
    box-shadow $transition-duration 
    $transition-timing-function;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        }


&:hover &__description,
&:focus &__description {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}



.portfolio-card__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-card__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: 
    transform 
    $transition-duration 
    $transition-timing-function;
}

.portfolio-card__thumb .portfolio-card__text {
    display: inline-block;
    margin: 77px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;

    color: $background-color;

    @media screen and (min-width: 768px) {
        margin: 49px 24px 77px 24px ;
    }

    @media screen and (min-width: 1200px) {
        margin: 63px 24px;
    }
}
}

// @media screen and (min-width: 768px) and (max-width: 1199) {
//     .portfolio-card {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     }
// }