$main-text-color: #757575;
$title-text-color: #212121;

$accent-color: #2196F3;
$second-accent-color: #188CE8;

$secondary-background-color: #F5F5F5;
$background-color: #FFFFFF;
$third-background-color: #F5F4FA;
$fourth-background-color: #2F303A;

$first-border-color: #ECECEC;
$second-border-color: #EEEEEE;

$overlay-background-color: #C4C4C4;

$svg-icon-color: #AFB1B8;
$black-icon-color: #000000;

$card-set-gap: 30px;

$transition-duration: 250ms;
$modal-transition-duration: 500ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);